--
-- PostgreSQL database dump
--

\restrict NP4PhLl6vnrPvGbgRWlgDMlpBu6LCznen66dLBOmaIGrt2O6JiKxdAvBympUkJw

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


-- Crear la base de datos 
CREATE DATABASE crediya
    WITH 
    OWNER = postgres
    ENCODING = 'UTF8'
    LC_COLLATE = 'en_US.utf8'
    LC_CTYPE = 'en_US.utf8'
    TABLESPACE = pg_default
    CONNECTION LIMIT = -1;


-- Conectarse a la base recién creada
\connect crediya;

-- Crear el usuario para la aplicación
DO
$$
BEGIN
   IF NOT EXISTS (SELECT FROM pg_catalog.pg_roles WHERE rolname = 'dev_user') THEN
      CREATE ROLE dev_user WITH LOGIN PASSWORD 'dev123';
   END IF;
END
$$;

--
-- Name: auth; Type: SCHEMA; Schema: -; Owner: dev_user
--

CREATE SCHEMA auth;


ALTER SCHEMA auth OWNER TO dev_user;

--
-- Name: loan; Type: SCHEMA; Schema: -; Owner: dev_user
--

CREATE SCHEMA loan;


ALTER SCHEMA loan OWNER TO dev_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: rol; Type: TABLE; Schema: auth; Owner: postgres
--

CREATE TABLE auth.rol (
    idrol integer NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion text
);


ALTER TABLE auth.rol OWNER TO postgres;

--
-- Name: rol_idrol_seq; Type: SEQUENCE; Schema: auth; Owner: postgres
--

CREATE SEQUENCE auth.rol_idrol_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE auth.rol_idrol_seq OWNER TO postgres;

--
-- Name: rol_idrol_seq; Type: SEQUENCE OWNED BY; Schema: auth; Owner: postgres
--

ALTER SEQUENCE auth.rol_idrol_seq OWNED BY auth.rol.idrol;


--
-- Name: usuario; Type: TABLE; Schema: auth; Owner: postgres
--

CREATE TABLE auth.usuario (
    idusuario integer NOT NULL,
    nombre character varying(100) NOT NULL,
    apellido character varying(100) NOT NULL,
    email character varying(150) NOT NULL,
    documento_identidad bigint NOT NULL,
    telefono character varying(20),
    idrol integer NOT NULL,
    salario_base numeric(12,2),
    status integer DEFAULT 1 NOT NULL,
    password text NOT NULL
);


ALTER TABLE auth.usuario OWNER TO postgres;

--
-- Name: usuario_idusuario_seq; Type: SEQUENCE; Schema: auth; Owner: postgres
--

CREATE SEQUENCE auth.usuario_idusuario_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE auth.usuario_idusuario_seq OWNER TO postgres;

--
-- Name: usuario_idusuario_seq; Type: SEQUENCE OWNED BY; Schema: auth; Owner: postgres
--

ALTER SEQUENCE auth.usuario_idusuario_seq OWNED BY auth.usuario.idusuario;


--
-- Name: loan_state; Type: TABLE; Schema: loan; Owner: postgres
--

CREATE TABLE loan.loan_state (
    id_estado integer NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion text
);


ALTER TABLE loan.loan_state OWNER TO postgres;

--
-- Name: loan_state_id_estado_seq; Type: SEQUENCE; Schema: loan; Owner: postgres
--

CREATE SEQUENCE loan.loan_state_id_estado_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE loan.loan_state_id_estado_seq OWNER TO postgres;

--
-- Name: loan_state_id_estado_seq; Type: SEQUENCE OWNED BY; Schema: loan; Owner: postgres
--

ALTER SEQUENCE loan.loan_state_id_estado_seq OWNED BY loan.loan_state.id_estado;


--
-- Name: solicitud; Type: TABLE; Schema: loan; Owner: postgres
--

CREATE TABLE loan.solicitud (
    id_solicitud integer NOT NULL,
    fecha_creacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    codigo_solicitud character varying(50) NOT NULL,
    monto numeric(12,2) NOT NULL,
    plazo integer NOT NULL,
    email character varying(150) NOT NULL,
    id_estado integer NOT NULL,
    id_tipo_prestamo integer NOT NULL
);


ALTER TABLE loan.solicitud OWNER TO postgres;

--
-- Name: solicitud_id_solicitud_seq; Type: SEQUENCE; Schema: loan; Owner: postgres
--

CREATE SEQUENCE loan.solicitud_id_solicitud_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE loan.solicitud_id_solicitud_seq OWNER TO postgres;

--
-- Name: solicitud_id_solicitud_seq; Type: SEQUENCE OWNED BY; Schema: loan; Owner: postgres
--

ALTER SEQUENCE loan.solicitud_id_solicitud_seq OWNED BY loan.solicitud.id_solicitud;


--
-- Name: tipo_prestamo; Type: TABLE; Schema: loan; Owner: postgres
--

CREATE TABLE loan.tipo_prestamo (
    id_tipo_prestamo integer NOT NULL,
    nombre character varying(100) NOT NULL,
    monto_minimo numeric(12,2) NOT NULL,
    monto_maximo numeric(12,2) NOT NULL,
    tasa_interes numeric(5,2) NOT NULL,
    validacion_automatica boolean DEFAULT false,
    plazo_maximo integer NOT NULL,
    plazo_minimo integer NOT NULL
);


ALTER TABLE loan.tipo_prestamo OWNER TO postgres;

--
-- Name: tipo_prestamo_id_tipo_prestamo_seq; Type: SEQUENCE; Schema: loan; Owner: postgres
--

CREATE SEQUENCE loan.tipo_prestamo_id_tipo_prestamo_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE loan.tipo_prestamo_id_tipo_prestamo_seq OWNER TO postgres;

--
-- Name: tipo_prestamo_id_tipo_prestamo_seq; Type: SEQUENCE OWNED BY; Schema: loan; Owner: postgres
--

ALTER SEQUENCE loan.tipo_prestamo_id_tipo_prestamo_seq OWNED BY loan.tipo_prestamo.id_tipo_prestamo;


--
-- Name: rol idrol; Type: DEFAULT; Schema: auth; Owner: postgres
--

ALTER TABLE ONLY auth.rol ALTER COLUMN idrol SET DEFAULT nextval('auth.rol_idrol_seq'::regclass);


--
-- Name: usuario idusuario; Type: DEFAULT; Schema: auth; Owner: postgres
--

ALTER TABLE ONLY auth.usuario ALTER COLUMN idusuario SET DEFAULT nextval('auth.usuario_idusuario_seq'::regclass);


--
-- Name: loan_state id_estado; Type: DEFAULT; Schema: loan; Owner: postgres
--

ALTER TABLE ONLY loan.loan_state ALTER COLUMN id_estado SET DEFAULT nextval('loan.loan_state_id_estado_seq'::regclass);


--
-- Name: solicitud id_solicitud; Type: DEFAULT; Schema: loan; Owner: postgres
--

ALTER TABLE ONLY loan.solicitud ALTER COLUMN id_solicitud SET DEFAULT nextval('loan.solicitud_id_solicitud_seq'::regclass);


--
-- Name: tipo_prestamo id_tipo_prestamo; Type: DEFAULT; Schema: loan; Owner: postgres
--

ALTER TABLE ONLY loan.tipo_prestamo ALTER COLUMN id_tipo_prestamo SET DEFAULT nextval('loan.tipo_prestamo_id_tipo_prestamo_seq'::regclass);


--
-- Name: rol rol_nombre_key; Type: CONSTRAINT; Schema: auth; Owner: postgres
--

ALTER TABLE ONLY auth.rol
    ADD CONSTRAINT rol_nombre_key UNIQUE (nombre);


--
-- Name: rol rol_pkey; Type: CONSTRAINT; Schema: auth; Owner: postgres
--

ALTER TABLE ONLY auth.rol
    ADD CONSTRAINT rol_pkey PRIMARY KEY (idrol);


--
-- Name: usuario usuario_documento_identidad_key; Type: CONSTRAINT; Schema: auth; Owner: postgres
--

ALTER TABLE ONLY auth.usuario
    ADD CONSTRAINT usuario_documento_identidad_key UNIQUE (documento_identidad);


--
-- Name: usuario usuario_email_key; Type: CONSTRAINT; Schema: auth; Owner: postgres
--

ALTER TABLE ONLY auth.usuario
    ADD CONSTRAINT usuario_email_key UNIQUE (email);


--
-- Name: usuario usuario_pkey; Type: CONSTRAINT; Schema: auth; Owner: postgres
--

ALTER TABLE ONLY auth.usuario
    ADD CONSTRAINT usuario_pkey PRIMARY KEY (idusuario);


--
-- Name: loan_state loan_state_nombre_key; Type: CONSTRAINT; Schema: loan; Owner: postgres
--

ALTER TABLE ONLY loan.loan_state
    ADD CONSTRAINT loan_state_nombre_key UNIQUE (nombre);


--
-- Name: loan_state loan_state_pkey; Type: CONSTRAINT; Schema: loan; Owner: postgres
--

ALTER TABLE ONLY loan.loan_state
    ADD CONSTRAINT loan_state_pkey PRIMARY KEY (id_estado);


--
-- Name: solicitud solicitud_codigo_solicitud_key; Type: CONSTRAINT; Schema: loan; Owner: postgres
--

ALTER TABLE ONLY loan.solicitud
    ADD CONSTRAINT solicitud_codigo_solicitud_key UNIQUE (codigo_solicitud);


--
-- Name: solicitud solicitud_pkey; Type: CONSTRAINT; Schema: loan; Owner: postgres
--

ALTER TABLE ONLY loan.solicitud
    ADD CONSTRAINT solicitud_pkey PRIMARY KEY (id_solicitud);


--
-- Name: tipo_prestamo tipo_prestamo_pkey; Type: CONSTRAINT; Schema: loan; Owner: postgres
--

ALTER TABLE ONLY loan.tipo_prestamo
    ADD CONSTRAINT tipo_prestamo_pkey PRIMARY KEY (id_tipo_prestamo);


--
-- Name: usuario usuario_idrol_fkey; Type: FK CONSTRAINT; Schema: auth; Owner: postgres
--

ALTER TABLE ONLY auth.usuario
    ADD CONSTRAINT usuario_idrol_fkey FOREIGN KEY (idrol) REFERENCES auth.rol(idrol);


--
-- Name: solicitud solicitud_id_estado_fkey; Type: FK CONSTRAINT; Schema: loan; Owner: postgres
--

ALTER TABLE ONLY loan.solicitud
    ADD CONSTRAINT solicitud_id_estado_fkey FOREIGN KEY (id_estado) REFERENCES loan.loan_state(id_estado);


--
-- Name: solicitud solicitud_id_tipo_prestamo_fkey; Type: FK CONSTRAINT; Schema: loan; Owner: postgres
--

ALTER TABLE ONLY loan.solicitud
    ADD CONSTRAINT solicitud_id_tipo_prestamo_fkey FOREIGN KEY (id_tipo_prestamo) REFERENCES loan.tipo_prestamo(id_tipo_prestamo);


--
-- Name: TABLE rol; Type: ACL; Schema: auth; Owner: postgres
--

GRANT ALL ON TABLE auth.rol TO dev_user;


--
-- Name: SEQUENCE rol_idrol_seq; Type: ACL; Schema: auth; Owner: postgres
--

GRANT ALL ON SEQUENCE auth.rol_idrol_seq TO dev_user;


--
-- Name: TABLE usuario; Type: ACL; Schema: auth; Owner: postgres
--

GRANT ALL ON TABLE auth.usuario TO dev_user;


--
-- Name: SEQUENCE usuario_idusuario_seq; Type: ACL; Schema: auth; Owner: postgres
--

GRANT ALL ON SEQUENCE auth.usuario_idusuario_seq TO dev_user;


--
-- Name: TABLE loan_state; Type: ACL; Schema: loan; Owner: postgres
--

GRANT ALL ON TABLE loan.loan_state TO dev_user;


--
-- Name: TABLE solicitud; Type: ACL; Schema: loan; Owner: postgres
--

GRANT ALL ON TABLE loan.solicitud TO dev_user;


--
-- Name: SEQUENCE solicitud_id_solicitud_seq; Type: ACL; Schema: loan; Owner: postgres
--

GRANT ALL ON SEQUENCE loan.solicitud_id_solicitud_seq TO dev_user;


--
-- Name: TABLE tipo_prestamo; Type: ACL; Schema: loan; Owner: postgres
--

GRANT ALL ON TABLE loan.tipo_prestamo TO dev_user;


--
-- PostgreSQL database dump complete
--

\unrestrict NP4PhLl6vnrPvGbgRWlgDMlpBu6LCznen66dLBOmaIGrt2O6JiKxdAvBympUkJw

